<nav class="navbar">
    <a href="/customers">Manage Customers</a>
    <a href="/reservations">Manage Reservations</a>
    <a href="/orders">Manage Orders</a>
    <a href="/menuItems">Manage Menu Items</a>
    <a href="/cats">Manage Cats</a>
</nav>