<ul class="navbar">
    <li><a href="/customers">Manage Customers</a></li>
    <li><a href="/reservations">Manage Reservations</a></li>
    <li><a href='/orders'>Manage Orders</a></li>
    <li><a href='/menu'>Manage Menu Items</a></li>
    <li><a href='/cats'>Manage Cats</a></li>
</ul>