
body{
    display:flex;
    flex-direction: column;
    gap: 20px;
    overflow: auto; 
}


.entity-modal {
    display: flex;
    flex-direction: column;
    background-color: #fff;
    width: 350px;
    height: 200px;
    outline: 2px solid black;
}

.entity-attribute-selection{
    display: flex;
    flex-direction: column;
}

.submit-button{
    width:30px;
}

table {
    width: 60%;
    border-collapse: collapse;
}

th, td {
    border: 1px solid black;
    padding: 10px;
    text-align: left;
}

th {
    background-color: #f2f2f2;
}