<!-- main.hbs-->

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="index.css">

    <!-- Include the full Handlebars runtime -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.7.7/handlebars.runtime.min.js"></script>
    <!-- Include  precompiled templates -->
    <!---<script src="/compiledTemplates.js" charset="utf-8" defer></script>  -->

    <title>Cat Cafe Manager</title>
</head>
<body>

    {{{body}}}

</body>
</html>