<!DOCTYPE html>
<html lang="en">
<head>
<title>Manage Menu Items</title>
</head>

<link rel="stylesheet" href="index.css">

<body>
    <header>
        <h1>Manage Menu Items</h1>
        {{> navbar}}
    </header>

    <!---Table for menu items --->
    <table>
        <tr>
            <th>Menu Item ID</th>
            <th>Name</th>
            <th>Price</th>
            <th>Category</th>
        </tr>
        <tr>
            <td>1</td>
            <td>Latte</td>
            <td>6.99</td>
            <td>Beverage</td>
        </tr>
        <tr>
            <td>2</td>
            <td>Cheesecake</td>
            <td>10.99</td>
            <td>Food</td>
        </tr>

        <tr>
            <td>3</td>
            <td>Cupcake</td>
            <td>5.99</td>
            <td>Food</td>
        </tr>
    </table>
    
<div class="entity-modal">
    <h3>Create a new menu item</h3>
    <form class="entity-attribute-selection">
        <div class="attribute-field">
            <label for='menuItemName'>Menu Item Name:</label>
            <input type='text' id='menuItemName' name='menuItemName' required>
        </div>

        <div class="attribute-field">
            <label for='price'>Price:</label>
            <input type='number' step="0.01" id='price' name='price' required>
        </div>

        <div class="attribute-field">
            <label for='category'>Category:</label>
            <select id='category' name='category' required>
                <option value='Food'>Food</option>
                <option value='Beverage'>Beverage</option>
                <option value='Misc'>Misc</option>
            </select>
        </div>

        <button type='submit' class="submit_button">Add Menu Item</button>
    </form>
</div>

    
<div class="entity-modal">
    <h3>Update a menu item</h3>
    <form class="entity-attribute-selection">
        <form class="entity-attribute-selection">
            <div class="attribute-field">
                <label for='menuItemName'>Menu Item Name:</label>
                <input type='text' id='menuItemName' name='menuItemName' required>
            </div>
    
            <div class="attribute-field">
                <label for='price'>Price:</label>
                <input type='number' step="0.01" id='price' name='price' required>
            </div>
    
            <div class="attribute-field">
                <label for='category'>Category:</label>
                <select id='category' name='category' required>
                    <option value='Food'>Food</option>
                    <option value='Beverage'>Beverage</option>
                    <option value='Misc'>Misc</option>
                </select>
            </div>
    
        <button type='submit' class="submit_button">Update menu item</button>
    </form>
</div>


<div class="entity-modal">
    <h3>Delete a menu item</h3>
    <form class="entity-attribute-selection">
        <form class="entity-attribute-selection">
            <div class="attribute-field">
                <label for='menuItemName'>Menu Item Name:</label>
                <input type='text' id='menuItemName' name='menuItemName' required>
            </div>
    
            <div class="attribute-field">
                <label for='price'>Price:</label>
                <input type='number' step="0.01" id='price' name='price' required>
            </div>
    
            <div class="attribute-field">
                <label for='category'>Category:</label>
                <select id='category' name='category' required>
                    <option value='Food'>Food</option>
                    <option value='Beverage'>Beverage</option>
                    <option value='Misc'>Misc</option>
                </select>
            </div>
    
        <button type='submit' class="submit_button">Delete Menu Item</button>
    </form>
</div>
</body>
</html>