<!DOCTYPE html>
<html lang="en">
<head>
<title>Manage Orders</title>
</head>

<link rel="stylesheet" href="index.css">

    <body>
        <header>
            <h1>Manage Orders</h1>
            {{> navbar}}
        </header>

        <div class="table-buttons">
            <button type='button' class="table_button" id="add_button">Add order</button>
        </div>

            <!---Table for orders --->
        <div class="entities_table">
        <table>
            <tr>
                <th>Order ID</th>
                <th>Customer ID</th>
                <th>Order Time</th>
                <th>Order Total</th>
            </tr>
            <tr>
                <td>1</td>
                <td>2</td>
                <td>2024-07-07 17:30:00</td>
                <td>20.35</td>
            </tr>
            <tr>
                <td>2</td>
                <td>3</td>
                <td>2024-03-07 16:25:00</td>
                <td>40.50</td>
            </tr>

            <tr>
                <td>3</td>
                <td>1</td>
                <td>2025-02-01 13:30:00</td>
                <td>70.75</td>
            </tr>
        </table>
        
    <div class="entity-modal-overlay hidden" id="create-overlay">
        <div class="entity-modal">
            <button type="button" id="modal-close" class="modal-hide-button">&times;</button>
            <h3>Create a new order</h3>
            <form class="entity-attribute-selection">
                <div class="attribute-field">
                    <label for='orderCustomerId'>Customer ID:</label>
                    <input type='number' id='orderCustomerId' name='orderCustomerId' required>
                </div>

                <div class="attribute-field">
                    <label for='orderTime'>Order Time:</label>
                    <input type='datetime-local' id='orderTime' name='orderTime' required>
                </div>

                <div class="attribute-field">
                    <label for='orderTotal'>Order Total:</label>
                    <input type='number' step="0.01" id='orderTotal' name='orderTotal' required>
                </div>

                <button type='submit' class="submit_button">Add Order</button>
            </form>
        </div>
    </div>


    <div class="entity-modal-overlay hidden" id="update-overlay">
        <div class="entity-modal">
            <button type="button" id="modal-close" class="modal-hide-button">&times;</button>
            <h3>Update an order</h3>
            <form class="entity-attribute-selection">
                <div class="attribute-field">
                    <label for='orderId'>Order ID:</label>
                    <input type='number' id='orderId' name='orderId' required>
                </div>
                <div class="attribute-field">
                    <label for='orderCustomerId'>Customer ID:</label>
                    <input type='number' id='orderCustomerId' name='orderCustomerId' required>
                </div>

                <div class="attribute-field">
                    <label for='orderTime'>Order Time:</label>
                    <input type='datetime-local' id='orderTime' name='orderTime' required>
                </div>

                <div class="attribute-field">
                    <label for='orderTotal'>Order Total:</label>
                    <input type='number' step="0.01" id='orderTotal' name='orderTotal' required>
                </div>

                <button type='submit' class="submit_button">Update Order</button>
            </form>
        </div>
    </div>

    <div class="entity-modal-overlay hidden" id="delete-overlay">
        <div class="entity-modal">
            <button type="button" id="modal-close" class="modal-hide-button">&times;</button>
            <h3>Delete an order</h3>
            <form class="entity-attribute-selection">
                <div class="attribute-field">
                    <label for='orderId'>Order ID:</label>
                    <input type='number' id='orderId' name='orderId' required>
                </div>

                <button type='submit' class="submit_button">Delete Order</button>
            </form>
        </div>
    </div>

        <script src="index.js"></script>
    </body>
</html>