<!DOCTYPE html>
<html lang="en">
<head>
<title>Manage Reservations</title>
</head>

<link rel="stylesheet" href="index.css">

<body>
    <header>
        <h1>Manage Reservations</h1>
        {{> navbar}}
    </header>

    <!---Table for reservations --->
     <div class="entities_table">
    <table>
        <tr>
            <th>Reservation ID</th>
            <th>Customer ID</th>
            <th>Cat ID</th>
            <th>Date</th>
            <th>Duration mins</th>
            <th>Guest count</th>
        </tr>
        <tr>
            <td>1</td>
            <td>2</td>
            <td>2</td>
            <td>2024-07-07 17:00:00</td>
            <td>60</td>
            <td>1</td>
        </tr>
        <tr>
            <td>2</td>
            <td>1</td>
            <td>3</td>
            <td>2024-03-07 16:00:00</td>
            <td>90</td>
            <td>2</td>
        </tr>

        <tr>
            <td>3</td>
            <td>3</td>
            <td>1</td>
            <td>2025-02-01 13:00:00</td>
            <td>120</td>
            <td>3</td>
        </tr>
    </table>
      <div class="table-buttons">
            <button type='button' class="table_button">Add reservation</button>
            <button type='button' class="table_button">Update reservation</button>
            <button type='button' class="table_button">Delete reservation</button>
     </div>
    </div>

<div class="entity-modal">
    <h3>Create a new reservation</h3>
    <form class="entity-attribute-selection">
        <div class="attribute-field">
            <label for='customerId'>Customer ID:</label>
            <input type='number' id='customerId' name='customerId' required>
        </div>

        <div class="attribute-field">
            <label for='catId'>Cat ID:</label>
            <input type='number' id='catId' name='catId' required>
        </div>

        <div class="attribute-field">
            <label for='date'>Reservation Date:</label>
            <input type='datetime-local' id='date' name='date' required>
        </div>

        <div class="attribute-field">
            <label for='durationMinutes'>Duration (in minutes):</label>
            <input type='number' id='durationMinutes' name='durationMinutes' required>
        </div>

        <div class="attribute-field">
            <label for='guestCount'>Guest Count:</label>
            <input type='number' id='guestCount' name='guestCount' required>
        </div>

        <button type='submit' class="submit_button">Add Reservation</button>
    </form>
</div>

    
<div class="entity-modal">
    <h3>Update a reservation</h3>
    <form class="entity-attribute-selection">
        <div class="attribute-field">
            <label for='reservationId'>Reservation ID:</label>
            <input type='number' id='reservationId' name='reservationId' required>
        </div>
        <div class="attribute-field">
            <label for='customerId'>Customer ID:</label>
            <input type='number' id='customerId' name='customerId' required>
        </div>

        <div class="attribute-field">
            <label for='catId'>Cat ID:</label>
            <input type='number' id='catId' name='catId' required>
        </div>

        <div class="attribute-field">
            <label for='date'>Reservation Date:</label>
            <input type='datetime-local' id='date' name='date' required>
        </div>

        <div class="attribute-field">
            <label for='durationMinutes'>Duration (in minutes):</label>
            <input type='number' id='durationMinutes' name='durationMinutes' required>
        </div>

        <div class="attribute-field">
            <label for='guestCount'>Guest Count:</label>
            <input type='number' id='guestCount' name='guestCount' required>
        </div>
        <button type='submit' class="submit_button">Update Reservation</button>
    </form>
</div>


<div class="entity-modal">
    <h3>Delete a reservation</h3>
    <form class="entity-attribute-selection">
        <div class="attribute-field">
            <label for='reservationId'>Reservation ID:</label>
            <input type='number' id='reservationId' name='reservationId' required>
        </div>
        <button type='submit' class="submit_button">Delete Reservation</button>
    </form>
</div>





</body>
</html>